---
layout: default
title: About
section_id: about
---

<div class='full parallax' style='background-image: url(images/headers/05.png); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="About Inter/sections" color="#fff" tagline="" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>About Inter/sections</h2>
      <p class='header-line'>Inter/sections is an annual series of events programmed by the students of Queen Mary University of London’s Media and Arts Technology (MAT) doctoral training centre.</p>

      <p>MAT students founded Inter/sections in 2016 as a forum to examine the disjoints in methods, philosophies and practices that they grapple with as interdisciplinary researchers reconciling computer science with other fields. In its inaugural year, Inter/sections probed the theme of Symbiosis with talks on how an understanding of art history, participatory design and speculative design can contribute to better technology. </p>

      <a href="http://2016.intersections.io" class="button-link">Inter/sections 2016</a>
    </div>
    <!-- <div class='medium-6 columns'>
      <h3>Annual themes</h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
    </div>
  </div> -->
</div>
</div>

<div class='full'>
  <div class='row'>
      <h2>About the MAT program</h2>
      <div class='small-10 columns'>
        <p>QMUL's PhD in Media and Arts Technology is an innovative inter-disciplinary programme in the sciences and technologies that transform the creative sector, with a special focus on Sound, Music, Media and Interaction. Its mission is to produce post-graduates that have world-class skills in technical and scientific research, creativity, building and using software and hardware, and are prepared to contribute to the world’s Digital Economy.</p>
        <a href="http://www.mat.qmul.ac.uk" class="button-link">Visit the MAT website</a>
      </div>
      <div class='small-2 columns'>
        <p><img src="{{ site.url }}/images/supporters/mat_sq.gif" /></p>
      </div>
  </div>



<div class='four spacing'></div>

</div>


{% include our-supporters.html %}