---
layout: default
title: Events
section_id: events
---


<div class='full parallax' style='background-image: url(images/headers/overhead.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Events" tagline="" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='header-line'>Inter/sections discusses this year's theme, Politics and Ethics in Media and Arts Technology, through a week-long series of events.</p>

      <p>Find out what's going on each day on this page, or click the button below to download a daily schedule as a PDF.</p>

      <a href="#" class="button-link">Download a programme  </a>
    </div>
  </div>
</div>

<div class="full">
  
 
  <div class="row">

  <div class='medium-12 columns'>
    {% for event in site.data.events %}
    <div class='row events-section'>
      <div class='small-5 medium-3 columns people'>
        <img class="avatar team-pic" alt="" src="{{ site.url }}/images/events/{{ event.image }}" />
      </div>

      <div class='small-7 medium-9 columns'>
        <h2 class='name'>{{event.name}}</h2>
        <div class='event-tags'>
          {% for tag in event.tags %}
          <p class='{{ tag }}'>{{ tag }}</p>
          {% endfor %}
        </div>
        <p class='pos'>{{event.date}}<br \>{{ event.time}}</p>

        
        <p class='bio'>{{event.desc}}</p>
      
        {% if event.button-url %}
        <div class="button-wrapper"><a href="{{ event.button-url }}" class="button-link register-now">{{ event.button-text }}</a></div>
        {% endif %}
        

      </div>
    
    </div>
    {% endfor %}

    </div>
  </div>


  <div class='four spacing'></div>

  {% include our-supporters.html %}
</div><!-- end full -->