---
layout: default
title: Exhibition
section_id: exhibition
---

<div class='full parallax' style='background-image: url(images/headers/exhibition01.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Exhibition" color="#fff" tagline="" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row' style="display: flex">
    <div class='medium-6 columns'>
      <p>Approaching the theme of Ethics and Politics in Media and Arts Technology from a more experimental and artistic perspective, our curated exhibition showcases the work of internationally renowned designers and artists alongside our own PhD students' mixed media artworks. </p>
      <p>We also present work by Will Hurt and Yosuke Ushigome. Will's artwork, commissioned for Inter/sections, draws visitors' attention to built environments, while Yosuke's invites visitors to explore shared economies.</p>
      <p></p>

    </div>
    <div class='medium-6 columns iframe-content'>
      <iframe src="https://player.vimeo.com/video/186455106" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div><!-- end right half -->
  </div><!-- end row -->
</div><!-- end full -->


<div class='full'>
  <div class='row'>
  <div class='medium-12 columns'>
    <h2>Invited practitioners</h2>
  
    {% for artist in site.data.artists %}
    <div class='row team-section'>
    
  
      <div class='small-5 medium-3 columns people'>
        <img class="avatar team-pic" alt="" src="{{ artist.image }}" />
      </div>

      <div class='small-7 medium-9 columns'>
        <h3 class='name'>{{artist.name}}</h3>
        <p class='pos'>{{artist.position}}</p>
        
        <p class='bio'>{{artist.bio}}</p>
      
        <ul class='socials'>
          {% for social in artist.socials %}
          <li>
            <a href='{{social.link}}'><i class='fa fa-{{social.icon}}'></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    
    </div>
    {% endfor %}
  </div> 
</div> <!-- end row -->

<div class='two spacing'></div>

{% include our-supporters.html %}
</div> <!-- end full -->
