---
layout: default
section_id: home

---


<div class='full-front-page parallax' style='background-image: url(images/headers/lights.jpg); color: #fff;'>
  <div class='row index_page'>
      <img src='images/logo-white-noDate.png' class="header-image">
  </div>
    <div class='twelve columns'>
      {% include section-header.html title="" color="#fff" tagline="September 3-8, 2017" class="big" %}
    </div>
  <div class='four spacing'></div>
</div>

<div class='full index-header-text' style="background: #41a491;">
  <div class='row' >
  <h2 class='intro-text'>Theme 2017:</h2>
  <h2 class='intro-text body'>Politics and ethics in<br>media and art technology</h2>
    <!-- <p style="size: 2.5em; color: white; padding: 10px;">One line about the thing in general.</p> -->
</div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <!-- <h3>inter/sections 2017</h3> -->
      <p class="header-line">Following the rise of unprecedented activism and political protests in the past year, Inter/sections 2017 explores how artists and technologists use different networks, databases, and systems to raise awareness of ethical and political issues around technologies.</p>
      <p>Through a week-long programme of interactive artwork, we will engage with topics ranging from the ethics of data privacy to the political effects of social media. Free workshops and talks with artists and technology activists will question how current political systems impact evolving technologies and introduce ways that technology can subvert them.</p>     
    </div>
  </div>
</div>

<div class='front-page-section symposium'>
  <div class='row'>
    <div class="large-12 columns">
      <div class='row'>
        <div class='twelve columns'>
          {% include section-header.html title="Symposium" color="#fff" tagline="" class="big" %}
        </div>
      </div>
    </div>
    </div>
    </div>
    <!-- Start the two columns of content: -->
<div class='front-page-section'>
  <div class='row iframe-flex'>

    <div class='medium-6 columns'>
      <h3>The Inter/sections Symposium</h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
    </div>
    <div class='medium-6 columns iframe-content'>
      
      <!-- <p>iframe here from Vimeo, must auto-float to 100% of parent element</p> -->

      <iframe src="https://player.vimeo.com/video/185704156" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      
    </div>
    <!-- End two content columns -->
  </div><!-- end row -->
</div><!-- end full front-page-section symposium -->


<div class='front-page-section events'>
  <div class='row'>
    <div class="large-12 columns">
      <div class='row'>
        <div class='twelve columns'>
          {% include section-header.html title="Events" color="#fff" tagline="" class="big" %}
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class='front-page-section'>
  <div class='row iframe-flex'>
    <!-- Start the two columns of content: -->
    <div class='medium-6 columns'>
      <h3>A week of events</h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
    </div>
    <div class='medium-6 columns iframe-content'>
      <img src="{{ site.url }}/images/headers/panel.jpg"
    </div>
    <!-- End two content columns -->
  </div><!-- end row -->
</div><!-- end full front-page-section symposium -->

<div class='front-page-section exhibition'>
  <div class='row'>
    <div class="large-12 columns">
      <div class='row'>
        <div class='twelve columns'>
          {% include section-header.html title="Exhibition" color="#fff" tagline="" class="big" %}
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class='front-page-section'>
  <div class='row iframe-flex'>
    <!-- Start the two columns of content: -->
    <div class='medium-6 columns'>
      <h3>Exhibition of media art</h3>
      <p>Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.</p>
    </div>
    <div class='medium-6 columns iframe-content'>
      <iframe src="https://player.vimeo.com/video/186455106" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <!-- End two content columns -->
  </div><!-- end row -->
</div><!-- end full front-page-section symposium -->

<!-- <div class='full front-page-section events'>
  <div class='row' >
  <div class="large-12 columns">
  <h2 style="text-align: center; size: 6em; color: white">Events</h2>
    <p style="size: 2.5em; color: white; padding: 10px;">One line here.</p>
    </div>
</div>

<div class='full front-page-section exhibition'>
  <div class='row' >
  <div class="large-12 columns">
  <h2 style="text-align: center; size: 6em; color: white">Exhibition</h2>
    <p style="size: 2.5em; color: white; padding: 10px;">One line here.</p>
    </div>
</div> -->


<!-- <div class='full'>
  <div class='row'>
  <h3>Our symposium speakers</h3>
    {% for member in site.data.members %}
      <div class='small-3 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <p class='centered-text'>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div> -->


<!--div class='full parallax' style='background: #f5f5f5'-->

  <!-- <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div> -->
 <!--  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our clients say" %}
      <div class='spacing'></div>
    </div>
  </div> -->
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include our-supporters.html %}