---
layout: default
title: Location
section_id: Location
---

<div class='full parallax' style='background-image: url(images/headers/wires.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="Where it's happening" color="#fff" tagline="" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row iframe-flex'>
    <!-- <div class='medium-12 columns'>
    </div> -->
      <div class='medium-6 columns'>
        <h3>The location: Art Pavilion, Mile End Park</h3>
        <p>All events are taking place at <a href='http://www.towerhamlets.gov.uk/lgnl/leisure_and_culture/parks_and_open_spaces/mile_end_park/the_art_pavilion,_mile_end/the_art_pavilion,_mile_end.aspx'>The Art Pavilion, Mile End Park.</a></p>
        <p>The Art Pavilion in Mile End Park is a stunning gallery space with a glass frontage overlooking a small lake. The nearest Underground station in Mile End (Central, District, and Hammersmith and City lines). The journey from the station is around 210 metres long, and should take around 5 minutes. If you have difficulty getting about, it could take 10 minutes.</p>

        <p>The Art Pavilion is a fully accessible space with step-free access from Grove Road. It is located at:</p>

        <p>Mile End Park,<br />Clinton Road,<br />London<br />E3 4QY.</p>

        <a href="http://www.towerhamlets.gov.uk/Documents/Leisure-and-culture/Parks-and-open-spaces/directions-art-pavilion.pdf" class="button-link">Click here for a PDF map.</a>

        
      </div>
      <div class='medium-6 columns iframe-content'>
        
        <iframe width="100%" height="100%" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJrdGpCiUddkgR_fKY1GiNYFg&key=AIzaSyCFk-644ph0WLEaCdVFKsrSQFu53VMKROY" allowfullscreen></iframe>
      </div>
  </div>


<!-- <div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>Scheulde</h2>
      <p>Button needed for PDF download.</p>
    </div>

  </div>
</div>
 -->





<div class='two spacing'></div>
{% include our-supporters.html %}
</div>