---
layout: default
title: Symposium
section_id: symposium
---

<div class='full parallax' style='background-image: url(images/headers/notes.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="The Symposium" color="#fff" tagline="" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'>
      <h2>About the Symposium</h2>
      <p>Inter/sections culminates in a Symposium on Friday 8 September. This is a day-long event for discussion and exchange between academia, industry and activists. Featuring keynote speakers who are experts in emerging trends in science and media, the Inter/sections Symposium creates a space to debate new ethical frameworks for emerging technologies. 

      <p>The Symposium includes keynote talks from Kate Bevan, Dan McQuillan and Stephen Minger, a hands-on workshop run by the TCCE (The Culture Capital Exchange) exploring ethics, art and technology, as well as a panel on Work Ethics in the Age of Automation. The workshop Technology, Ethics and the Arts Now, run by Evelyn Wilson, will unpick some timely and also challenging and complex questions around how the arts are using digital technologies now and the wider political, social, ethical and indeed economic contexts  in which such uses and relationships are unfolding.</p>

      <p>Attendance is free, but booking is essential as lunch will be provided.</p>
      
      <a href="https://www.eventbrite.co.uk/e/intersections-symposium-tickets-35385982426" class="button-link register-now">Register now (via Eventbrite)</a>
    </div>
  </div>
</div>


<!-- <div class='full'>
  <div class='row'>
  <h3>Our Speakers</h3>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <p class='centered-text'>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div> -->


<div class='full'>
  <div class='row'>
  <div class='medium-12 columns'>
    <h2>Keynote Speakers</h2>
  
    {% for speaker in site.data.speakers %}
    <div class='row team-section'>
    
  
      <div class='small-5 medium-3 columns people'>
        <img class="avatar team-pic" alt="" src="{{ speaker.image }}" />
      </div>

      <div class='small-7 medium-9 columns'>
        <h3 class='name'>{{speaker.name}}</h3>
        <p class='pos'>{{speaker.position}}</p>
        
        <p class='bio'>{{speaker.bio}}</p>
      
        <ul class='socials'>
          {% for social in speaker.socials %}
          <li>
            <a href='{{social.link}}'><i class='fa fa-{{social.icon}}'></i></a>
          </li>
          {% endfor %}
        </ul>
      </div>
    
    </div>
    {% endfor %}
  </div>
</div>
</div>
<div class='four spacing'></div>
</div> <!-- end full div -->

{% include our-supporters.html %}