<div class='full parallax' style='background: #eee; color: #222;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Inter/sections is generously supported by:" color="#222" %}
      
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for supporter in site.data.supporters %}
            <div><a href="{{supporter.link}}"><img alt="" src="{{supporter.image}}" /></a></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <p class='code-of-conduct-text'>Inter/sections is dedicated to creating a harassment-free space for everyone. <a href="code-of-conduct.html">Please read our Code of Conduct.</a></p>
  <div class='two spacing'></div>
</div>